.vscode
.VSCodeCounter
dockerfile
compose.yml
.dockerignore

*.exe
*.sh
*.bat

target/debug/*
target/prod/*
tests/

src/test/src/main/genTests/*
src/test/src/project/*
src/test/target/project/*
src/test/target/test/*